:root {
  --header-height : 52px;
}
* {
    box-sizing: inherit;
}
ul {
    padding-left: 0;
    list-style: none;
}
a,
a:hover,
a:focus,
a:active{
    text-decoration: none;
    color: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Arial', 'sans-serif';
    box-sizing: border-box;
}