/* Tablet and Mobile */
@media (max-width : 1023px) {
    .hide-on-tablet-mobile{
        display: none;
    }
    .header--bar-wrap {
        display: flex;
    }
    .input-search-wrap {
        top: var(--header-height);
        right: 0;
        left: 0;
        border-radius: unset ;
        align-items: center;
        justify-content: center;
        box-shadow: unset;
        background-color: #04b2f7;
    }
    .input-search {
        width: 96%;
        border-radius: unset;
        background-color: #fff;
        color: #000;
        border-top-left-radius: 15px 50%;
        border-bottom-left-radius:15px 50%;
        border-top-right-radius: 15px 50%;
        border-bottom-right-radius: 15px 50%;
    }
    .input-search::placeholder {
        color: #000;
    }
    .check-to-open-search:checked~.ovelay-search {
        display: block;
    }
    .sidebar-mobile-tablet {
        display: block;
    }
    .biggest-img-more {
        display: none;
    }
    a,div {
        user-select: none;
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
    .sidebar-link:hover {
        color: #fff;
    }
    .main-part3.main-part {
        border-bottom: unset;
        padding-bottom: 24px;
    }
    .main-part3 {
        margin: 0 8px;
    }
    .main-part3-nav-list {
        display: none;
    }
    .main-part3-item-link {
        display: flex;
    }
    .main-part3-img {
        width: 35%;
        height: 50%;
        margin-right: 12px;
    }
    .main-part2-right,
    .main-part2-left {
        display: none;
    }
    .main-part5-title {
        margin-top: -16px;
    }
    .main-part5-title-no-margin {
        margin-top: 0;
    }
    .main-part6-item-hide {
        display: none;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .header-logo-bar {
        flex: 0.65;
        justify-content: space-between;
    }
    .input-search-wrap {
        height: 45px;
    }
    .input-search {
        height: 35px;
        font-size: 1.6rem;
    }
    .main-part1 {
        flex-direction: row;
    }
    .main-part-mini-item {
        margin-top: 16px;
    }
    .small-img-link {
        display: none;
    }
    .small-item_link {
        margin-bottom: unset;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #dedede;
    }
    .main-part {
        padding: 0 10px;
    }
    .main-part3-item-wrap {
        padding: 0 8px;
    }
    .main-part-title {
        padding-left: 8px;
    }
    .main-part3-item:nth-child(1),
    .main-part3-item:nth-child(2) {
        margin-top: 6px;
    }
    .main-part3-video-link span {
        bottom: 2%;
    }
    .main-part5-head-img {
        height: 70%;
    }
    .main-part6-img {
        width: 35%;
        height: 110px;
    }
    .footer_logo-link{
        padding-top: 20px;
    }
}
/* Mobile */ 
@media(max-width: 739px) {
    .hidden-moblie {
        display: none;
    }
    .header--bar {
        padding: 0 16px;
    }
    .header--logo {
        line-height: 68px;
    }
    .header--bar-wrap {
        margin-right: 16px;
    }
    .input-search-wrap {
        height: 40px;
    }
    .input-search {
        height: 30px;
    }
    .biggest-img-title {
        position: absolute;
        bottom: 0%;
        transform: translateY(-17%);
        padding: 0 0 8px 8px;
        left: 0;
        color: #fff;
        font-size: 25px;
        background-image: linear-gradient(0deg, rgba(0,0,0,0.85) 0%,  rgba(0, 0, 0, 0.75) 35%, rgba(0, 0, 0, 0) 100%);
    }
    .app_main {
        margin-top: 0;
    }
    .main-part {
        border-bottom: 5px solid #dedede;
    }
    .main-part-mini-item {
        padding: 0 8px;
    }
    .part1-item--on-mobile {
        display: block;
    }
    .part1-item:nth-child(5) {
        border-bottom: 1px solid #dedede;
    }
    .part1-main-img {
        width: 35%;
        height: 50%;
    }
    .main-part2.main-part {
        padding: 8px 8px 12px 4px;
        overflow-x: auto;
        flex-wrap: nowrap;
        border: unset;
        margin-bottom: 0;
    }
    .main-part2::-webkit-scrollbar {
        display: none;
    }
    .main-part2-image {
        display: block;
        width: 99%;
        height: 100%;
        border-radius: 5px;
    }
    .main-part2-item-link p {
        position: absolute;
        background-color: unset;
        bottom: 0%;
        left: 0%;
        color: #fff;
        padding: 10% 0 16px 8px;
        font-size: 2rem;
        width: 99%;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.75) 35%, rgba(0, 0, 0, 0) 100%);
    }
    .main-part2-item.main-part2-item-last.col {
        padding-right: 4px;
    }
    .main-part2-item-link:last-child p {
        width: 99%;
    }
    .main-part2-item-last .main-part2-item_link p {
        width: 98%;
    }
    .main-part2-item.col {
        padding: 0;
        margin-left: 4px;
    }
    .main-part2-image {
        margin-right: 4px;
    }
    .main-part-title {
        text-align: center;
        font-size: 1.7rem;
        margin: 10px 0 0 0;
    }
    .main-part3-navbar {
        justify-content: center;
        font-size: 1.5rem;
    }
    .main-part3-navbar h3 {
        font-size: 1.7rem;
        margin: 12px 0;
    }
    .main-part3-item-link {
        margin: 0 4px;
    }
    .main-part3-item:nth-child(3) {
        margin-top: 16px;
    }
    .main-part3-video-wrap {
        margin-bottom: 4px;
    }
    .main-part3-video-link span {
        bottom: 3%;
    }
    .main-part4.main-part {
        padding-bottom: 16px ;
    }
    .main-part4 {
        margin-top: 24px;
    }
    .main-part4-item:first-child {
        margin-top: -4px;
    }
    .main-part4-item-link {
        margin: 0 4px;
        font-size: 1.5rem;
        margin-top: 16px;
        line-height: 2.2rem;
    }
    .main-part4-item-title {
        font-size: 1.5rem;
    }
    .main-part4-img {
        width: 35%;
        height: 95%;
    }
    .main-part4-info,
    .main-part4-time {
        display: none;
    } 
    .main-part5 {
        margin-top: 12px;
        align-items: center;
        margin-bottom: 20px;
    }
    .main-part5.main-part {
        border-bottom: unset;
    }
    .main-part5-item-head {
        margin-top: 8px;
    }
    .main-part5-title {
        font-size: 1.7rem;
        text-align: center;
        width: 100%;
        display: block;
    }
    .main-part5-head-link {
        margin: 0 4px;  
    }
   
    .main-part6.main-part {
        padding-bottom: 32px;
        margin-bottom: 0;
        
    }
    .main-part6-img {
        width: 35%;
        height: 95%;
        margin-right: 12px;
    }
    .main-part6-link {
        margin: 16px 4px 0 4px;
        border-top: 1px solid #dedede;
    }
    .main-part6-link-no-margin {
        margin-top: 0;
        border: unset;
        border-bottom: unset;
    }
    .main-part5-head-img {
        height: 75%;
    }
    .footer_logo-link {
        padding-top: 20px;
    }  
}